.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.visited{
    background-color: gray;
}
.flag-container img{
    width: 150px;
    border-radius: 100px;
}